.container {
  margin-top: 3rem;
}

.wrapper {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid rgb(219, 219, 219);

  width: 19rem;
}

.wrapper {
  margin-top: .5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 110px;
  width: auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(4px * 6);
}

form input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  outline: none;

  padding: 9px 0 7px 8px;
  border-radius: 5px;
  width: 16rem;
}

form input:focus {
  border: 1px solid #a8a8a8;
}

form input:first-child {
  margin-bottom: 0.5rem;
}

form input::placeholder {
  font-size: 12px;
}

form button {
  margin-top: 1rem;
  background-color: #0095f6;
  color: #fff;

  border: none;
  outline: none;
  width: calc(16rem + 0.5rem);
  padding: 9px 0 7px 8px;

  cursor: pointer;
  border-radius: 5px;

  font-weight: bold;
}

button:disabled,
button:focus {
  background-color: #b2dffc;
}

.lines {
  margin-top: -1rem;
  padding: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: #8e8e8e;
  font-size: 12px;
  font-weight: bolder;
}

.line {
  border-bottom: 2px solid #dbdbdb;
  display: block;
  width: 16rem;
}

.wrapper:not(:first-child) p {
  font-size: 14px;
}

.wrapper:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper:not(:first-child) p span {
  color: #4A97F6;
  font-weight: bolder;
}

.oauth {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.oauth span img {
  height: 15px;
  width: auto;
  margin-bottom: 3px;
}

.oauth span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: #385185;
  font-size: 14px;
  cursor: pointer;
}

.oauth span:first-child {
  font-weight: bolder;
}

.app-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-buttons img {
  height: 40px;
  width: auto;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}