@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;

  display: flex;
  align-items: flex-start;
  justify-content: center;
    
  font-family: 'Roboto', sans-serif;
}
